<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="static/public/tailwind.css">
</head>
<body class="bg-primary-700">
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
        
        <!-- Card -->
        <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
            <a class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
                <img src="static/img/workday-logo.png" class="mr-4 h-11" alt="Workday">
            </a>
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                Get Integration details
            </h2>
            <form class="mt-8 space-y-6" method="post">
                {{.CSRFToken}}
                <div class="p-2 m-2">
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your ISU</label>
                    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Integration Admin ISU" required>
                </div>
                <div class="p-2 m-2">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ISU password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                </div>
                <button type="submit" class="p-2 m-2 w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Get Integration Overview</button>
            </form>
            {{if .ErrorMessage}}
              <div class="p-2 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Oops. </span>{{.ErrorMessage}}
              </div>
            {{end}}
        </div>
    </div>
</body>
</html>